.containIncon {
    width: 48px;
    height: 48px;
}

.serviceName {
    font-size: 20px;
    font-weight: 600;
    color: #12367c;
    text-align: center;
    margin-top: 20px;
}

.w-md-75 {
    width: 75%;
}
@media (max-width: 768px) {
    .w-md-75 {
        width: 100%;
    }
}
.imgService {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.imgService6 {
    background-image: url(..//assets/home/services6.webp);
}
.imgService5 {
    background-image: url(..//assets/home/services5.webp);
}
.imgService4 {
    background-image: url(..//assets/home/services4.webp);
}
.imgService3 {
    background-image: url(..//assets/home/services3.webp);
}
.imgService2 {
    background-image: url(..//assets/home/services2.webp);
}
.imgService1 {
    background-image: url(..//assets/home/services1.webp);
}
