.first-section {
    height: 60vh;
    background-image: url('/assets/portfolio/portfoliopage-background1.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
section p {
    color: #c7d8f9;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
}
section:first-child {
    height: 100%;
}
.item-border {
    border: 5px solid #b5b1b1;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 0px solid black;
    height: 200px;
    overflow: hidden;
}
.item-border:hover img {
    overflow: auto;
    transform: translateY(-86%);
    transition: transform 7s ease;
    overflow: auto;
}
.item-border img {
    transition: transform 7s ease;
}

section h1 {
    color: #c7d8f9;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 54px */
}
.header {
    /* background-color: aqua; */
    height: 90%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rectangle {
    width: 100%;
    height: 21px;
    background-color: #b5b1b1;
    border-radius: 0px 0px 10px 10px;
}
.circle {
    width: 6px;
    height: 6px;
    background-color: #666;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-header {
    background-color: #205783;
    color: white;
    font-size: 15px;
}
.text-section {
    margin-top: 100px;
    width: 50%;
    height: 80vh;
    margin-left: auto;
}
.text-section p {
    color: #c7d8f9;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
}

.item-border:hover img {
    overflow: auto;
    transform: translateY(-100%) translateY(200px);
    transition: transform 5s ease;
    overflow: auto;
}
.item-border img {
    transition: transform 5s ease;
}
