.line1 {
    width: 120.5px;
    height: 2px;
    background-color: #05579b;
    position: absolute;
    right: 49%;
}

.lines {
    background-color: aqua;
}

.line2 {
    width: 120.5px;
    height: 2px;
    background-color: #05579b;
    position: absolute;
    left: 49%;
    top: 10px;
}

.headerService {
    font-size: 30px;
    color: #05579b;
    text-align: center;
    position: relative;
}
