#tob-section-services .mobile-header {
    color: #12367c;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 48px */
}
#tob-section-services .mobile-text {
    color: #12367c;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
}
.bg-tob-sectionSercices {
    background: rgba(121, 155, 185, 0.8) !important;
    padding-top: 12%;
    /* min-height: vh; */
}
@media (max-width: 768px) {
    .bg-tob-sectionSercices {
        background: rgba(121, 155, 185, 0.8) !important;
        min-height: 80vh;
        padding-top: 20%;
    }
}
