.about-section {
    padding: 10% 10% 2% 3%;
    background-image: url('/assets/about/aboutbackground.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.home-icon {
    width: 44px;
    height: 47px;
}

.subHeader {
    color: #05579b;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 175.023%; /* 42.005px */
    padding: 3px 10px;
    border-bottom: 4px solid #05579b;

    margin: 0px;
}
.paragraph {
    color: #12367c;
    font-size: 18px;
}

.top-section h1 {
    color: #12367c;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 193.023%; /* 77.209px */
}

.top-section-custom-p {
    position: relative;
    padding-right: 25px;
}
.bg-vision {
    position: absolute;
    top: 0px;
    right: 0px;
}
.bg-mission {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.btn-top-section {
    width: 175px;
    height: 60px;
    border-radius: 30px !important;
    color: white !important;
    background-color: #205783 !important;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.home2 {
    width: 390px;
    height: 345px;
}

@media only screen and (max-width: 1016px) {
    .top-section h1 {
        font-size: 26px;
    }
    .home-icon {
        width: 35px;
        height: 37px;
    }
    .about-section {
        padding: 15% 10% 2% 3%;
    }
}
@media only screen and (max-width: 767px) {
    .home-icon {
        width: 29px;
        height: 32px;
    }
    .about-section {
        padding: 25% 10% 2% 3%;
    }
}
