.blog-page {
    margin-top: 100px;
}

.article-heading {
    color: black;
}
.article-p {
    color: black;
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
}
.image-blog {
    max-height: 60vh;
    background-image: url(Blog?.mainImg);
    background-color: blue;
}
.card-img {
    object-position: center center;
    object-fit: cover;
    height: fit-content;
}
.card-image-demo {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.blog-card-title {
    font-size: 18px !important;
    text-decoration: none !important;
}

.blog-card-caption {
    font-size: 12px;
}

#blogDetails li {
    margin: 0px 0px;
    color: #05579b;
    padding: 0px 0px !important;
    font-size: 16px !important;
}
#blogItem {
    font-family: 'Inter' !important;
    height: 100%;
}

#mainImg {
    background-image: url('/assets/blogs/blog1/1.webp');
    background-size: cover;
    background-position: center center;
}

#blogImg {
    max-height: 60vh;
    object-fit: cover;
}
.boxShadow {
    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
}
#suggestedPost #title {
    font-size: 12px;
    line-height: 1;
    text-justify: distribute-all-lines;
}
#suggestedPost #date {
    font-size: 12px;
    color: #05579b;
}

.typography {
    font-style: normal;
    line-height: 150%; /* 30px */
}

#blogTitle .layer {
    top: 0;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 6;
    background: linear-gradient(0deg, rgba(22, 68, 114, 0.65) 0%, rgba(22, 68, 114, 0.65) 100%);
}
#blogTitle .layer-1 {
    position: absolute;
    top: 0px;
    object-position: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}
#blogDetails #caption {
    font-size: 20px;
    font-weight: 400;
}

#blogTitle h1 {
    font-size: 48px;
    font-weight: 800;
    color: #fff;
}
#blogTitle p {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

#blogDetails .article-p {
    color: var(--dark-blue, #12367c);
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

#blogDetails h2 {
    font-size: 34px;
    font-weight: 600;
    color: var(--light-blue, #05579b);
}
#leftSection {
    top: 10%;
}

@media (max-width: 767.98px) {
    .custom-width {
        width: 100%;
    }
    #blogDetails .article-p {
        font-size: 12px;
        font-weight: 500;
        margin-top: 10px;
    }
    #blogDetails h2 {
        font-size: 20px;
        font-weight: 600;
    }
    #blogTitle h1 {
        font-size: 30px;
        font-weight: 800;
        color: #fff;
    }
}

/* For md (medium) screens and larger */
@media (min-width: 768px) {
    .custom-width {
        width: 50%;
    }
}

.text-facebook {
    color: #3b5998;
}
.text-whatsapp {
    color: #25d366;
}
.text-twitter {
    color: #00acee;
}
.text-reddit {
    color: #ff4500;
}
